<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="customAppSettingsGroup">
    <section name="customAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </sectionGroup>
  </configSections>


<customAppSettingsGroup>
  <customAppSettings>

    <add key="DELTA_X" value="13"/>
    <add key="DELTA_Y" value="13"/>
    <add key="IMAGE_FOLDER" value="C:\Users\hsultanov\Desktop\MOSQUITO NET\images"/>
    <add key="ARDUINO_COM_PORT" value="COM6"/>
    
  </customAppSettings>
</customAppSettingsGroup>
</configuration>